// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

body {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  padding: 0 150px;
}

h1 {
  font-weight: 400;
  text-decoration: underline;
  color: #e84118;
}
p {

}
blockquote {
  border-left: 6px solid #ddd;
  margin: 1.5em 0;
  padding: 0.5em 1em;

  &.you {
    background-color: #7bed9f;
    p { font-weight: bold;
        font-size: 50px;
        color: white; }
  }
}

blockquote {
  border-left: 20px solid #5352ed;
  margin: 1.5em 1em;
  padding: 100px;

  &.coach {
    background-color: #ff6348;
    p { font-weight: bold;
        font-size: 50px;
        color: white; }
  }
}

cite:before {
  content: "👉🏽 ";
  font-size: 70px;
}
